*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenedor {
    display: flex;
    border: 2px solid #797979;
    margin: 20px;
    padding: 10px;
    gap: 10px
}

.item {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #509169;
    color: #abcfb1;
    font-size: 25px;
}

.direction-row {
    flex-direction: row;
}

.direction-column {
    flex-direction: column;
}

.nowrap {
    flex-wrap: nowrap;
    width: 350px;
}

.wrap {
    flex-wrap: wrap;
    width: 350px;
}

.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
    height: 200px;
}
.align-start {
    align-items: flex-start;
    height: 200px;
}